
// Navbar Button

.navbar .buttons_navbar  {
  margin-right: 300px;
  font-size: 21px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    background-color: #00acee;
    border-radius: 4px;
    padding: 14px;
    width: 15vw;
    height: 60%;
    display: flex;
    align-items: center;
    border: none;
    box-shadow: none;
    font-size: 17px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    img {
      width: 35px;
      margin-right: 30px;
    }
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #187092;
  }
}

// Navbar
.navbar {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 24px;
  justify-content: space-between;
  .logo {
    color: #187092;
    font-size: 13px;
    margin-top: 20px;
    margin-left: 250px;
  }
  a {
    margin-right: 20px;
    margin-top: 20px;
    color: #5f5f5f;
    text-decoration: none;
  }
}